@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
html,body { overflow-x: hidden; }
body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #222;
}
a,
input[type="submit"],
button[type="submit"] {
    text-decoration: none;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
}
h1, h2 {
    font-weight: 700;
    color: #0B6091;
}
h3, h4, h5, h6 {
    font-weight: 500;
    color: #0B6091;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.button__link {
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background-color: #0B6091;
    border-radius: 5px;
    border: solid 2px #0B6091;
}
.button__link:hover,
.button__link:focus {
    color: #0B6091;
    background-color: #fff;
}

header {
    height: 80px;
    padding: 10px 0;
    background-color: #fff;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
}
header .container,
header .row { height: 100%; }
header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
header.fixed .logo { width: 100px; }

nav { 
    display: none; 
    position: absolute;
    top: 80px;
    z-index: 2;
    left: 0;
    width: 100%;
    background-color: #0B6091;
}
header.fixed nav { top: 60px; }
nav ul { display: flex; }
nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
}

@media(min-width:768px){
    .nav-toggle {
        display: none;
    }
    nav {
        display: block !important;
        position: static;
        width: auto;
        background-color: transparent;
    }
    .header__row nav ul li:not(:last-child) { padding-right: 40px; }
    .header__row nav ul li a { padding: 0; color: #0B6091; font-weight: 500; }
    .header__row nav ul li a:hover,
    .header__row nav ul li.active a { color: #000; text-decoration: underline; }
}


.nav-toggle {
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 10px;
    width: 45px;
    height: 38px;
    background-color: #0B6091;
    border: 0;
    border-radius: 4px;
}
header.fixed .nav-toggle { top: 11px; }
.nav-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.nav-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    margin: 0;
}
.nav-toggle.active span:nth-child(2) {
    display: none;
}
.nav-toggle.active span:last-child {
    transform: rotate(-45deg);
    margin: -2px 0 0;
}
.nav-toggle span:not(:last-child){ margin-bottom: 6px; }
.nav-toggle:focus { outline: 0; box-shadow: none; }

.herobanner {
    position: relative;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.herobanner h2 { color: #000; }
.herobanner .card {
    max-width: 400px;
}
.herobanner__content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.herobanner__content .row { 
    max-width: 1200px; 
    margin: 0 auto;
}
.herobanner__content h3 { font-size: 26px; }
.herobanner__content .card {
    box-shadow: 21px 21px 90px 0 rgb(21 31 71 / 10%);
}

.aboutus ul li { 
    position: relative; 
    padding: 0 0 10px 20px;
}
.aboutus ul li::before{
    content: "\f105";
    position: absolute;
    top: -3px;
    left: 0;
    font-family:'FontAwesome';
    font-size: 20px;
    color: #0B6091;
}

.client__testimonials--slider { position: relative; }
.client__testimonials--slider h3 {
    font-size: 20px;
    color: #000;
}
.client__testimonials--slider h4 {
    margin-bottom: 0;
    font-size: 20px;
    color: #000;
}
.client__testimonials--slider h5 { font-size: 16px; }
.client__testimonials--slider .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    height: 40px;
    z-index: 10;
}
.client__testimonials--slider .slick-prev::before{
    content: "\f104";
    position: absolute;
    top: 0;
    left: 0;
    font-family:'FontAwesome';
    font-size: 40px;
    color: #0B6091;
}
.client__testimonials--slider .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    height: 40px;
    z-index: 10;
}
.client__testimonials--slider .slick-next::before{
    content: "\f105";
    position: absolute;
    top: 0;
    left: 0;
    font-family:'FontAwesome';
    font-size: 40px;
    color: #0B6091;
}

.customer__logo {
    padding: 10px 15px;
    height: 100px;
}
.customer__logo img { max-width: 180px; }
.customer__slider .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    height: 40px;
    z-index: 10;
}
.customer__slider .slick-prev::before{
    content: "\f104";
    position: absolute;
    top: 0;
    left: 0;
    font-family:'FontAwesome';
    font-size: 40px;
    color: #0B6091;
}
.customer__slider .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    height: 40px;
    z-index: 10;
}
.customer__slider .slick-next::before{
    content: "\f105";
    position: absolute;
    top: 0;
    left: 0;
    font-family:'FontAwesome';
    font-size: 40px;
    color: #0B6091;
}


footer { background-color: #111; }
.quick__links h2,
.contactus h2 { 
    margin: 15px 0 33px;
    font-size: 24px;
    color: #fff; 
}
.contactus ul li { color: #fff; }
.quick__links ul li:not(:last-child),
.contactus ul li:not(:last-child) { margin-bottom: 10px; }
.quick__links ul li a,
.contactus ul li a { color: #fff; }
.contactus ul li .fa { margin-right: 10px; }
.quick__links ul li a:hover,
.quick__links ul li a:focus,
.contactus ul li a:hover,
.contactus ul li a:focus { color: #0B6091; }


.pagebanner { 
    position: relative;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 40%;
}
.pagebanner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.pagebanner-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.pagebanner-title h1,
.pagebanner-title p { color: #fff; }
.pagebanner-title p { font-size: 20px; }
@media(max-width:575px){
    .pagebanner { height: 350px; }
    .pagebanner-title p { font-size: 16px; }
}


.aboutus__text h3 { font-size: 20px; text-decoration: underline; }
.form-floating .form-control { height: 45px; }
.aboutus__text textarea  { height: 100px; }
.aboutus__text .form-control:focus { border: solid 1px #0B6091; box-shadow: none; }

.hiring-process ul {
    list-style: none;
    margin: 50px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.hiring-process ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hiring-process ul li .hiring-process-icon {
    position: relative;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: dashed 2px #333333;
    border-radius: 100%;
}
.hiring-process ul li .hiring-process-icon img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.hiring-process ul li .process-title {
    width: 65%;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
.hiring-process ul li:not(:last-child):after {
    content: "";
    position: absolute;
    top: 76px;
    right: -95px;
    width: 100%;
    height: 2px;
    border: dashed 2px #333333;
}

.join-our-team { max-width: 1000px; margin: 0 auto; }
.join-our-team .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.join-our-team .form-row label {
    display: block;
    margin-bottom: 8px;
    color: #686868;
    font-weight: normal;
    text-align: left;
    text-transform: capitalize;
}
.form__input, 
.join-our-team .select-job,  
textarea {
    display: block;
    width: 100%;
    height: 48px;
    font-family: 'Nunito Sans', sans-serif;
    color: inherit;
    font-size: inherit;
    text-align: left;
    padding: 15px;
    border-radius: 2px;
    background-color: #e1e9f6;
    border: solid 2px transparent;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.join-our-team textarea { height: 100px; }
.join-our-team .select-job { padding: 10px; color: #686868; }
.form__input:focus, 
.join-our-team .select-job:focus,  
textarea:focus {
    border: solid 2px #0B6091;
    outline: 0;
}

.masonry { 
    display: flex; 
    font-size: 0;  
}
.masonary-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100vw;
    max-height: 800px;
}
.masonary-col {
    display: flex;
    padding: 15px;
}
.masonary-thumbnail {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.masonary-col:nth-child(1n) { height: 480px; }
.masonary-col:nth-child(2n) { height: 280px; }
.masonary-col:nth-child(3n) { height: 280px; }
.masonary-col:nth-child(4n) { height: 480px; }
.masonary-col:nth-child(5n) { height: 480px; }
.masonary-col:nth-child(6n) { height: 280px; }
.masonary-thumbnail:after  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.masonary-title {
    text-align: left;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
}
@media(min-width:992px){
    .hiring-process ul li .hiring-process-icon { width: 100px; height: 100px; }
    .hiring-process ul li .process-title { width: 80%; font-size: 16px; }
    .hiring-process ul li:not(:last-child):after { top: 48px; }
}
@media(max-width:767px){
    .hiring-process ul { flex-direction: column; }
    .hiring-process ul li { margin-bottom: 20px; }
    .hiring-process ul li:not(:last-child):after { display: none; }
    .masonary-container { flex-wrap: nowrap; height: auto; max-height: initial; }
    .masonary-col:nth-child(1n),
    .masonary-col:nth-child(2n),
    .masonary-col:nth-child(3n),
    .masonary-col:nth-child(4n),
    .masonary-col:nth-child(5n),
    .masonary-col:nth-child(6n) { height: 250px; }
}
.card__section h3 { font-size: 22px; }
.card__section img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

@media(max-width:991px){
    .card__section img { height: 200px; }
}
@media(max-width:767px){
    .card__section img { height: auto; }
}

.our-industry h2 { margin-bottom: 30px; }
.section-row { margin: 0 -15px; }
.industry-thumbnail-wrapper { padding: 0 15px; }
.thumbnail-image {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    height: 400px;
    padding: 20px;
    overflow: hidden;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.industry-icon { margin-bottom: 15px; }
.industry-icon img { width: 50px; }
.industry-description h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
}
.thumbnail-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.our-industry-slider .slick-dots { bottom: -35px; }
.our-industry-slider .slick-dots li {
    margin: 0 6px;
    width: 6px;
    height: 6px;
}
.our-industry-slider .slick-dots li button {
    width: 8px;
    height: 8px;
    padding: 0;
    background-color: #686868;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.our-industry-slider .slick-dots li.slick-active button {
    background-color: #0B6091;
    transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
}
.our-industry-slider .slick-dots li button::before,
.our-industry-slider .slick-prev,
.our-industry-slider .slick-next {
    display: none !important;
}



@media(max-width:767px){
    .client__testimonials--slider h3 { 
        font-size: 16px; 
        line-height: 1.3;
    }
    .client__testimonials--slider h4,
    .client__testimonials--slider h5 {
        font-size: 14px;
        line-height: 1.3;
    }
    .section-row {
        margin: 0;
    }
}